- name: Ensure .ssh directory exists
  file:
    dest: "{{ ssh_dir }}"
    mode: 0700
    state: directory
  tags:
    - install
    - ssh

- name: Ensure .ssh/s directory exists
  file:
    dest: "{{ ssh_dir }}/s"
    mode: 0700
    state: directory
  tags:
    - install
    - ssh

- name: Install ssh key
  copy:
    src: "{{ source_key }}"
    dest: "{{ dest_key }}"
    mode: 0600
  tags:
    - install
    - ssh

- name: Install ssh key public
  copy:
    src: "{{ source_key }}.pub"
    dest: "{{ dest_key }}.pub"
    mode: 0644
  tags:
    - install
    - ssh

- name: Set authorized key from file
  authorized_key:
    user: "{{ user_name }}"
    state: present
    key: "{{ lookup('file', source_key + '.pub') }}"
  tags:
    - install
    - ssh

- name: Install ssh config
  copy:
    src: "./.ssh/config"
    dest: "{{ ssh_dir }}/config"
    mode: 0600
  tags:
    - install
    - ssh
