- name: Install zsh
  become: true
  pacman:
    name: zsh
  tags:
    - install
    - zsh

- name: Change default shell to zsh
  become: true
  user:
    name: "{{ user_name }}"
    shell: /usr/bin/zsh
  tags:
    - install
    - zsh
